{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

        <div class="jumbotron  text-center">
        <div class="container">
            <h1 class="display-4"> <b>Agence</b></h1>
            <p class="lead"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio quos est labore consectetur et? Similique, at repellat. Incidunt iure quibusdam ipsum, assumenda labore nulla numquam officia ipsam doloremque est pariatur!!</p>
        </div>
        </div>
{% endblock %}
